{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}IronFlow Pro - {{ page_title }}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/global.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <div class="app-container">

    {% include "includes/sidebar.html" %}

    <main class="main-area">
      {% block content %}
      {% endblock %}
    </main>

  </div>

  {% block extra_js %}{% endblock %}
</body>

</html>